.header{
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap; */
  background: linear-gradient(rgb(213, 207,207), #fcc3c3);
  margin-bottom: 30px;
}

.production-section{
  padding: 30px 10%;;
  text-align: center;
}

.pad{
  padding-top: 0;
}

.production-section h1{
  margin-bottom: 50px;
  color: brown;
  margin-top: 0;
}

.product-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 8%;
  background-color: rgb(60, 60, 60);
  color: white;
  /* background: linear-gradient(rgb(213, 207,207), #fcc3c3); */
}